* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

h1{
    margin: 0%;
    text-align: center;
    background-color: whitesmoke;
}

body {
    background-color: red;


}

@keyframes fantasma {
    0% {
        opacity: 0%;
    }

    25% {
        transform: translateY(20px);
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

.fantasma {
    animation: fantasma 3s infinite;
}

img{
    padding-left: 28%;
}